<h1 class="alert alert-primary">Invoices</h1>

{{#if responseMessage }}
  <h4 class="alert alert-success text-center">{{responseMessage}}</h4>
{{/if}}


<div class="container">
  <span>New Invoice</span>
  <div class="row">
    <div class="col-lg-3">
      {{input type="text" value=amount placeholder="Enter Amount"}}
    </div>
    <div class="col-lg-3">
      {{input type="date" value=date}}
    </div>
    <div class="col-lg-1">
      <button type="button" class="button btn-success" {{action 'saveInvoice'}}>Save</button>
    </div>
  </div><br/>
</div><hr>

<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <h5>Filter</h5>
    </div>
    <div class="col-lg-3">
      <span>From</span>
      {{input type="date" value=dateFrom}}
    </div>
    <div class="col-lg-3">
      <span>To</span>
      {{input type="date" value=dateTo}}
    </div>
  </div>
</div>

<br><br>

<table class="table">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |invoice|}}
      <Invoice @invoice={{invoice}}>
      </Invoice>
    {{/each}}
  </tbody>
</table>

{{outlet}}