<h1>Invoices</h1>

{{#if responseMessage }}
  <h4>{{responseMessage}}</h4>
{{/if}}


<div>
  <div>
    <div>
      {{input type="text" value=amount placeholder="Enter Amount"}}
    </div>
    <div>
      {{input type="date" value=date}}
    </div>
    <div>
      <button type="button" {{action 'saveInvoice'}}>Save</button>
    </div>
  </div><br/>
</div>


<div>
  <div>
    <div>
      <h5>Filter</h5>
    </div>
    <div>
      <span>From</span>
      {{input type="date" value=dateFrom}}
    </div>
    <div>
      <span>To</span>
      {{input type="date" value=dateTo}}
    </div>
  </div>
</div>

<br><br>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |invoice|}}
      <Invoice @invoice={{invoice}}>
      </Invoice>
    {{/each}}
  </tbody>
</table>

{{outlet}}